{% extends 'plans/base.html' %}
{% block content %}
{% load staticfiles %}
<style type="text/css">
   body { background-image: url("{% static 'plant_life.jpeg' %}") !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
</style>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="my-0 mr-md-auto font-weight-normal"><a href="{% url 'home' %}" class="text-white">Live Life Love Buds</a></h1>
  <p class="text-dark"><strong><a href="{% url 'home' %}" class="text-white">Premium Grow Education</a></strong></p>
  <a href="{% url 'join' %}"><button type="button" class="btn btn-lg btn-primary">Get Premium</button></a>
  <a href="{% url 'join' %}"><button type="button" class="btn btn-lg btn-primary" >Course Sign Up</button></a>
</div>

<div class="container">
  <h3 class="my-0 mr-md-auto font-weight-normal"><a href="{% url 'home' %}" class="text-white">Trending Articles</a></h3>
  <ul>
    {% for plan in plans.all %}

    <li class="text-white"><a href="{% url 'plan' plan.id %}" class="text-white">{{ plan.title }}</a></li>

    {% endfor %}
  </ul>
</div>
{% endblock %}
